# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TobiiGazeRecorder.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\e.sarfati\Desktop\Github\TobiiGazeRecorder\.idea\.idea.TobiiGazeRecorder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
